<h1><%= t('activerecord.models.userlist') %></h1>

<table>
  <tbody>
 <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to t('views.common.show'), user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @pages %>

<%=  link_to t('views.common.top'), books_path %>
